body {
  background-color: #cfffcf;
}
div {
}
pre {font-family: "MV Boli", 'Courier New', Courier, monospace; color: #000000;

}
h1 {font-family: "MV Boli", 'Courier New', Courier, monospace; color: #000000;
}
p {font-family: "MV Boli", 'Courier New', Courier, monospace; color: #000000;
}
li {font-family: "MV Boli", 'Courier New', Courier, monospace; color: #000000;
}
#content {
}

/* green 87D587 blue 859BF3 gold B38A44 */